body {
    background-color: #f1f1f1;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
    margin-bottom: 15px;
}
.winter {
     background-color:lightblue;
     padding: 1px;
     display: flex;
     flex-direction: column;
     width: 350px;
     margin-bottom: 25px;
    }
.winter_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    margin: auto;
}
.spring {
    background-color: #FFBCE9;
    padding: 1px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 25px;
}
li {
    text-align: left;
    list-style-position:inside;
}
.summer{
    background-color:rgb(207, 255, 193);
    padding: 1px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 25px;
}
.autumn {
    background-color:rgb(255, 198, 177);
    padding: 1px;
    display: flex;
    flex-direction: column;
    width: 350px;
}
